@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 5px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #00578e;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: #f0f0f0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg{
  background-color: white;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  transition: 0.5s ease-in-out;
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}

.bg #burger{
  color: #00578E;
}



.slider-container{
  width: calc(220px * 3);
  animation: scroll 5s linear infinite;
}

.slider-container:hover{
  animation-play-state: paused;
}

.slide-card{
  perspective: 100px;
}

.img{
  transition: transform 1s;
}

.img:hover{
  transform: translateZ(20px);
}

.toggle{
  visibility: hidden;
  height: 0px;
  transition: 0.9s ease;
  overflow: hidden;
}

#answer1.show{
  visibility: visible;
  height: 390px;
  transition: 0.9s ease;
}

#answer2.show{
  visibility: visible;
  height: 200px;
  transition: 0.9s ease;
}

#answer3.show{
  visibility: visible;
  height: 200px;
  transition: 0.9s ease;
}

#menu #submenu ul li{
  transition: 0.5s ease-in;
}

/* CARDS ROTATIVOS */

.style-3d{
  transform-style: preserve-3d;
}

.backface {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.rotate {
  transform: rotateY(180deg);
}

/*FIM CARDS ROTATIVOS*/

@media (min-width: 1024px){
  .bg li{
    color: #00578E;
  }

  ::-webkit-scrollbar{
    width: 8px;
    background-color: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #00578e;
  }

  #menu #submenu:hover ul{
    display: block;
   }
}

@media (max-width: 1023px){
    #menu{
      display: block;
      top: 76px;
      height: 0;
      @apply absolute;
      @apply right-0;
      @apply w-full;
      @apply gap-0;
      @apply m-0;
      @apply text-xl;
      @apply text-center;
      @apply z-50;
      @apply invisible;
      @apply overflow-y-hidden;
  }

  #nav ul{
    @apply mt-4;
  }

  #menu > li {
      @apply font-bold;
      @apply py-6;
      @apply border-opacity-10;
  }

  #nav.active #menu{
    height: 100vh;
    transition: 0.9s ease;
    @apply visible;
    @apply overflow-y-scroll;
  }

  #nav.active #close{
    @apply block;
  }

  #nav.active #burger{
    @apply hidden;
  }

  #bg.active {
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 20;
    border-radius: 0;
    transition: 0.5s ease-in;
    background-color: rgba(15, 23, 42, 0.5);
    backdrop-filter: blur(6px);
  }

  #submenu.active ul{
    display: block;
  }

  #submenu.active #arrowD{
    display: none;
  }

  #submenu.active #arrowU{
    display: block;
  }
}

@media (min-width: 320px){
  #answer1.show{
    visibility: visible;
    height: 340px;
    transition: 0.9s ease;
  }

  #answer2.show{
    visibility: visible;
    height: 170px;
    transition: 0.9s ease;
  }
}

@media (min-width: 330px){ 
  #answer3.show{
    visibility: visible;
    height: 170px;
    transition: 0.9s ease;
  }
}

@media (min-width: 340px){
  #answer1.show{
    visibility: visible;
    height: 310px;
    transition: 0.9s ease;
  }
}

@media (min-width: 420px){
  #answer1.show{
    visibility: visible;
    height: 250px;
    transition: 0.9s ease;
  }

  #answer2.show{
    visibility: visible;
    height: 120px;
    transition: 0.9s ease;
  }

  #answer3.show{
    visibility: visible;
    height: 140px;
    transition: 0.9s ease;
  }
}

@media (min-width: 500px){
  #answer1.show{
    visibility: visible;
    height: 210px;
    transition: 0.9s ease;
  }
}

@media (min-width: 600px){
  #answer1.show{
    visibility: visible;
    height: 160px;
    transition: 0.9s ease;
  }

  #answer2.show{
    visibility: visible;
    height: 100px;
    transition: 0.9s ease;
  }

  #answer3.show{
    visibility: visible;
    height: 100px;
    transition: 0.9s ease;
  }
}
@media (min-width: 640px){
  #answer1.show{
    visibility: visible;
    height: 230px;
    transition: 0.9s ease;
  }

  #answer2.show{
    visibility: visible;
    height: 120px;
    transition: 0.9s ease;
  }

  #answer3.show{
    visibility: visible;
    height: 120px;
    transition: 0.9s ease;
  }
}

@media (min-width: 768px){
  #answer1.show{
    visibility: visible;
    height: 190px;
    transition: 0.9s ease;
  }
}

@media (min-width: 890px){
  #answer1.show{
    visibility: visible;
    height: 150px;
    transition: 0.9s ease;
  }
}

@media (min-width: 1024px){
  #answer1.show{
    visibility: visible;
    height: 170px;
    transition: 0.9s ease;
  }
}

@media (min-width: 1280px){
  #answer1.show{
    visibility: visible;
    height: 190px;
    transition: 0.9s ease;
  }
}

@media (min-width: 1580px){
  #answer1.show{
    visibility: visible;
    height: 150px;
    transition: 0.9s ease;
  }
}